@{
    ViewData["Title"] = "Thank you!";
}

<div>Thank you for yor reservation. Your tickets will be reversed for 20 seconds. Proceed to the <a asp-controller="Reservations" asp-action="Index">your reservations page</a> to complete the purchase process.</div>