@{
    ViewData["Title"] = "Thank you!";
}

<div>
    Thank you for your reservation. Your tickets will be reserved for 5 minutes, be quick or be dead... (cit.)<br />
    This is a lie. The reservation expiration is not implemented, so basically you can toast the system by simply reserving tickets...<br />
    this is not fun, it's a demo ;-)<br />
    Proceed to the <a href="/reservations">your reservations page</a> to complete the purchase process.
</div>