@{
    ViewData["Title"] = "Thank you!";
}

<div>
    Thank you for yor reservation. Your tickets will be reversed for 5 minutes, be quick or be dead... (cit.)<br />
    Proceed to the <a href="/reservations">your reservations page</a> to complete the purchase process.
</div>