@model List<Ticketing.Data.Models.Ticket>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<div>
    <ul>
        @foreach (var ticket in Model)
        {
            <li>@ticket.Description</li>
        }
    </ul>
</div>
