@if (Model.TicketsLeft == 0)
{
    <span>Sold out!</span>
}
else if (Model.TicketsLeft == 1)
{
    <span>There is @Model.TicketsLeft ticket left.</span>
}
else
{
    <span>There are @Model.TicketsLeft tickets left.</span>
}